 <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="icon-desktop color"></i> Create an order <small>Subtext for header</small></h2>
            <hr>
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->


    <div class="view-cart blocky">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				
      <!-- Table -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Image</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- Index -->
          <td>1</td>
          <!-- Product  name -->
          <td><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">HTC One</a></td>
          <!-- Product image -->
          <td><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="./View Cart - Olson Kart_files/2.png" alt="" class="img-responsive"></a></td>
          <!-- Quantity with refresh and remove button -->
          <td>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="1">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button"><i class="icon-refresh"></i></button>
                <button class="btn btn-danger" type="button"><i class="icon-remove"></i></button>
              </span>
            </div>
          </td>
          <!-- Unit price -->
          <td>$150</td>
          <!-- Total cost -->
          <td>$300</td>
        </tr>
        <tr>
          <td>2</td>
          <td><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">Sony Xperia</a></td>
          <td><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="./View Cart - Olson Kart_files/3.png" alt=""></a></td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="1">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button"><i class="icon-refresh"></i></button>
                <button class="btn btn-danger" type="button"><i class="icon-remove"></i></button>
              </span>
            </div>
          </td>
          <td>$150</td>
          <td>$150</td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">Nokia Asha</a></td>
          <td><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="./View Cart - Olson Kart_files/4.png" alt=""></a></td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="1">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button"><i class="icon-refresh"></i></button>
                <button class="btn btn-danger" type="button"><i class="icon-remove"></i></button>
              </span>
            </div>                     
          </td>
          <td>$250</td>
          <td>$250</td>
        </tr>
        <tr>
          <td>4</td>
          <td><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">Samsung Galaxy Pro</a></td>
          <td><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="./View Cart - Olson Kart_files/5.png" alt=""></a></td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="1">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button"><i class="icon-refresh"></i></button>
                <button class="btn btn-danger" type="button"><i class="icon-remove"></i></button>
              </span>
            </div> 
          </td>
          <td>$450</td>
          <td>$450</td>
        </tr>
        <tr>
          <td>5</td>
          <td><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">Micromax Funbook</a></td>
          <td><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="./View Cart - Olson Kart_files/6.png" alt=""></a></td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="1">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button"><i class="icon-refresh"></i></button>
                <button class="btn btn-danger" type="button"><i class="icon-remove"></i></button>
              </span>
            </div> 
          </td>
          <td>$150</td>
          <td>$300</td>
        </tr>                                    
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>$2405</th>
        </tr>
      </tbody>
    </table>
    			</div>
    		</div>
    	</div>
    </div>	
      
      <div class="checkout">
         <div class="container">
            <h4>Order details</h4>
            <br>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputName" class="col-md-2 control-label">Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
              </div>            
              <div class="form-group">
                <label for="inputEmail1" class="col-md-2 control-label">Email</label>
                <div class="col-md-4">
                  <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPhone" class="col-md-2 control-label">Phone Number</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
                </div>
              </div>
              <div class="form-group">
                <label for="inputCountry" class="col-md-2 control-label">Country</label>
                <div class="col-md-4">
                  <select class="form-control">
                    <option>Select Country</option>
                    <option>USA</option>
                    <option>India</option>
                    <option>Canada</option>
                    <option>UK</option>
                  </select>
                </div>
              </div>              
              <div class="form-group">
                  <label for="inputAddress" class="col-md-2 control-label">Address</label>
                  <div class="col-md-4">
                     <textarea class="form-control" rows="3" placeholder="Address"></textarea>
                  </div>
              </div>
              <div class="form-group">
                <label for="inputZip" class="col-md-2 control-label">Zip Code</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputZip" placeholder="Zip Code">
                </div>
              </div>
              
              <hr>
              <h4>Payment Details</h4>
              
              <div class="form-group">
                <label for="inputPayment" class="col-md-2 control-label">Payment Method</label>
                <div class="col-md-4">
                  <select class="form-control">
                    <option>Payment Method</option>
                    <option>Credit Card</option>
                    <option>Debit Card</option>
                    <option>Internet Banking</option>
                    <option>Check</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Accept Terms &amp; Conditions
                    </label>
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button type="submit" class="btn btn-danger">Confirm Order</button>
                  <button type="reset" class="btn btn-default">Reset</button>
                </div>
              </div>
            </form>
            
         </div>
      </div>