      <!-- Logo & Navigation ends -->
      
      <div class="clearfix"></div>
      
      <!-- Carousel starts -->

      <div id="carousel-example-generic" class="carousel slide">
       <!-- Indicators -->
       <ol class="carousel-indicators">
         <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
         <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
         <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
       </ol>

       <!-- Wrapper for slides -->
       <div class="carousel-inner">
         <!-- Item -->
         <div class="item animated fadeInRight">
           <img src="img/index/back1.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
             <h2 class="animated fadeInLeftBig">Lorem ipsum dolor sit amet</h2>
             <p class="animated fadeInRightBig">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Donec tristique est sit amet diam interdum semper. </p>
             <a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="animated fadeInLeftBig btn btn-info btn-lg">Buy Now - $199</a>
           </div>
         </div>

         <div class="item animated fadeInRight">
           <img src="img/index/back2.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
             <h2 class="animated fadeInLeftBig">Mauris semper tincidunt suscipit</h2>
             <p class="animated fadeInRightBig">Donec tristique est sit amet diam interdum semper. Vestibulum <strong>condimentum ante urna</strong>, vel interdum odio accumsan id.</p>
             <a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="animated fadeInLeftBig btn btn-info btn-lg">Buy Now - $299</a>
           </div>
         </div>

         <div class="item animated fadeInRight active">
           <img src="img/index/back3.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
             <h2 class="animated fadeInLeftBig">Phasellus et nisi tincidunt</h2>
             <p class="animated fadeInRightBig">Lorem <strong>ipsum dolor sit amet</strong>, consectetur adipiscing elit. Vestibulum condimentum ante urna, vel interdum odio accumsan id.</p>
             <a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="animated fadeInLeftBig btn btn-info btn-lg">Buy Now - $479</a>
           </div>
         </div>          
       </div>

       <!-- Controls -->
       <a class="left carousel-control" href="http://responsivewebinc.com/premium/olson/olsonkart/#carousel-example-generic" data-slide="prev">
         <span class="icon-prev"></span>
       </a>
       <a class="right carousel-control" href="http://responsivewebinc.com/premium/olson/olsonkart/#carousel-example-generic" data-slide="next">
         <span class="icon-next"></span>
       </a>
     </div>

     <!-- carousel ends -->

     <!-- Hero starts -->

     <div class="hero">
       <div class="container">
        <div class="row">
         <div class="col-md-12">
          <!-- Catchy title -->
          <h3>It<span class="color">'</span>s Lorem ipsum <span class="color">dolor</span> sit amet consectetur</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique est sit amet diam interdum semper. Vestibulum condimentum ante urna, vel interdum odio accumsan id.</p>
        </div>
      </div>
      <div class="sep-bor"></div>
    </div>
  </div>

  <!-- Hero ends -->  

  <!-- Items List starts -->

      <div class="shop-items blocky">
        <div class="container">
          
         <div class="row">
          <!-- Section title -->
            <div class="section-title">
               <h4><i class="icon-desktop color"></i> &nbsp;Latest Product</h4>
            </div>  

            <!-- Item #1 -->
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="item">
                <!-- Use the below link to put HOT icon -->
                <div class="item-icon"><span>HOT</span></div>
                <!-- Item image -->
                <div class="item-image">
                  <a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="img/index/2.png" alt="" class="img-responsive"></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">HTC One V</a></h5>
                  <div class="clearfix"></div>
                  <!-- Para. Note more than 2 lines. -->
                  <p>Something about the product goes here. Not More than 2 lines.</p>
                  <hr>
                  <!-- Price -->
                  <div class="item-price pull-left">$360</div>
                  <!-- Add to cart -->
                  <div class="pull-right"><a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <!-- Item #2 -->
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="item">
                <!-- Item image -->
                <div class="item-image">
                  <a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="img/index/3.png" alt="" class="img-responsive"></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">Dell One V</a></h5>
                  <!-- Para. Note more than 2 lines. -->
                  <p>Something about the product goes here. Not More than 2 lines.</p>
                  <hr>
                  <!-- Price -->
                  <div class="item-price pull-left">$264</div>
                  <!-- Add to cart -->
                  <div class="pull-right"><a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>  

            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="item">
                <!-- Item image -->
                <div class="item-image">
                  <a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="img/index/4.png" alt="" class="img-responsive"></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">Cannon One V</a></h5>
                  <!-- Para. Note more than 2 lines. -->
                  <p>Something about the product goes here. Not More than 2 lines.</p>
                  <hr>
                  <!-- Price -->
                  <div class="item-price pull-left">$160</div>
                  <!-- Add to cart -->
                  <div class="pull-right"><a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="item">
                <!-- Item image -->
                <div class="item-image">
                  <a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="img/index/5.png" alt="" class="img-responsive"></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">Apple One V</a></h5>
                  <!-- Para. Note more than 2 lines. -->
                  <p>Something about the product goes here. Not More than 2 lines.</p>
                  <hr>
                  <!-- Price -->
                  <div class="item-price pull-left">$420</div>
                  <!-- Add to cart -->
                  <div class="pull-right"><a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
         </div>
         
        </div>
      </div>

      <!-- Items List ends -->

      <div class="shop-items blocky">
        <div class="container">
          
         <div class="row">
          <!-- Section title -->
            <div class="section-title">
               <h4><i class="icon-desktop color"></i> &nbsp;Top Seller!</h4>
            </div>  
            
            <!-- Item #1 -->
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="item">
                <!-- Use the below link to put HOT icon -->
                <div class="item-icon"><span>HOT</span></div>
                <!-- Item image -->
                <div class="item-image">
                  <a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="img/index/2.png" alt="" class="img-responsive"></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">HTC One V</a></h5>
                  <div class="clearfix"></div>
                  <!-- Para. Note more than 2 lines. -->
                  <p>Something about the product goes here. Not More than 2 lines.</p>
                  <hr>
                  <!-- Price -->
                  <div class="item-price pull-left">$360</div>
                  <!-- Add to cart -->
                  <div class="pull-right"><a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <!-- Item #2 -->
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="item">
                <!-- Item image -->
                <div class="item-image">
                  <a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="img/index/3.png" alt="" class="img-responsive"></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">Dell One V</a></h5>
                  <!-- Para. Note more than 2 lines. -->
                  <p>Something about the product goes here. Not More than 2 lines.</p>
                  <hr>
                  <!-- Price -->
                  <div class="item-price pull-left">$264</div>
                  <!-- Add to cart -->
                  <div class="pull-right"><a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>  

            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="item">
                <!-- Item image -->
                <div class="item-image">
                  <a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="img/index/4.png" alt="" class="img-responsive"></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">Cannon One V</a></h5>
                  <!-- Para. Note more than 2 lines. -->
                  <p>Something about the product goes here. Not More than 2 lines.</p>
                  <hr>
                  <!-- Price -->
                  <div class="item-price pull-left">$160</div>
                  <!-- Add to cart -->
                  <div class="pull-right"><a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="item">
                <!-- Item image -->
                <div class="item-image">
                  <a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html"><img src="img/index/5.png" alt="" class="img-responsive"></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5><a href="http://responsivewebinc.com/premium/olson/olsonkart/single-item.html">Apple One V</a></h5>
                  <!-- Para. Note more than 2 lines. -->
                  <p>Something about the product goes here. Not More than 2 lines.</p>
                  <hr>
                  <!-- Price -->
                  <div class="item-price pull-left">$420</div>
                  <!-- Add to cart -->
                  <div class="pull-right"><a href="http://responsivewebinc.com/premium/olson/olsonkart/#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
         </div>
         
        </div>
      </div>

      <!-- Items List ends -->